Repository lyquangthai1993/edu_nextjs: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint, check-types, check-secrets, check-deps, check-i18n

prettier:
  run: npx --no -- prettier --write {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: npx --no -- eslint --fix --no-warn-ignored {staged_files}
  stage_fixed: true
  priority: 2

check-types:
  run: npm run check:types
  priority: 3

check-secrets:
  run: "if grep -r --include=\"*.{js,ts,jsx,tsx,json,env*}\" -E \"(api_key|password|secret|token|key)\" {staged_files}; then\n  echo \"❌ Potential secrets found in staged files!\"\n  exit 1\nfi\n"
  priority: 4

check-deps:
  run: npm run check:deps
  priority: 5

check-i18n:
  run: npm run check:i18n
  priority: 6

test
  .github/workflows/CI.yml
  .github/workflows/crowdin.yml
  .github/workflows/release.yml
  crowdin.yml
  eslint.config.mjs
  lefthook.yml
  src/app/[locale]/(auth)/dashboard/layout.tsx
  src/app/[locale]/(marketing)/layout.tsx
  src/app/[locale]/(marketing)/page/[...slug]/page.tsx
  src/app/[locale]/(marketing)/posts/[slug]/page.tsx
  src/app/api/debug/compare/route.ts
  src/app/api/debug/pages/route.ts
  src/components/CounterForm.tsx
Due: prettier, lint, check-types, check-secrets

test
  eslint.config.mjs
Due: check-secrets

test
  src/libs/StrapiApi.ts
Due: prettier, lint, check-types, check-secrets

test
  src/app/api/debug/pages/route.ts
Due: prettier, lint, check-types, check-secrets

test
  src/app/api/debug/compare/route.ts
Due: prettier, lint, check-types, check-secrets

test
  lefthook.yml
  src/libs/StrapiApi.ts
Due: prettier, lint, check-types, check-secrets

test
  .github/workflows/CI.yml
Due: prettier, check-secrets

feat: update
  src/libs/StrapiApi.ts
Due: prettier, lint, check-types, check-secrets

feat: test
  eslint.config.mjs
  lefthook.yml
Due: prettier, check-secrets

feat: test
  src/libs/StrapiApi.ts
Due: prettier, lint, check-types, check-secrets

feat: test
  knip.config.ts
  src/components/CounterForm.tsx
  src/components/CurrentCount.tsx
  src/libs/DB.ts
  src/models/Schema.ts
  src/validations/CounterValidation.ts
  tests/e2e/Counter.e2e.ts
  tests/integration/Counter.spec.ts
Due: prettier, lint, check-types, check-secrets

feat: test
  drizzle.config.ts
  package.json
  src/libs/Env.ts
Due: prettier, lint, check-types, check-secrets, check-deps

feat: test
  package.json
  src/models/Schema.ts
Due: prettier, lint, check-types, check-secrets, check-deps

feat: test
  src/libs/Env.ts
Due: prettier, lint, check-types, check-secrets

feat: test
  .github/workflows/CI.yml
Due: prettier, check-secrets

feat: test
  .github/workflows/crowdin.yml
Due: prettier, check-secrets

feat: test
  src/templates/BaseTemplate.test.tsx
Due: prettier, lint, check-types, check-secrets

feat: add ESLint configuration for improved code quality
  .github/workflows/CI.yml
  .idea/jsLinters/eslint.xml
Due: prettier, check-secrets

feat: add cSpell configuration and update dangerouslySetInnerHTML usage in pages
  .vscode/settings.json
  src/app/[locale]/(marketing)/page/[...slug]/page.tsx
  src/app/[locale]/(marketing)/posts/[slug]/page.tsx
Due: prettier, lint, check-types, check-secrets

Notes added by 'git notes add'
  8282be2071391c60cb840f58f2b7a66d539feda6
Due: check-secrets

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: *.{js,jsx,ts,tsx}
  check-types: any of: *.{ts,tsx}
  check-secrets: any of: *
  check-deps: any of: package*.json
  check-i18n: any of: src/locales/**/*.json
